body{
    font-family: "Poppins";
    background-color: rgb(242,242,242);
}

.title {
    margin-left: 9rem;
}

header {
    height : 10vh;
    color : rgb(45,114,241);
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
}


.container{
    display: flex;
    background-color: rgb(242,242,242);
    height : 80vh;
    justify-content: space-around;
}

form{
    height:80vh;
    display: flex;
    flex-direction: column;
    color : rgb(45,114,241);
    justify-content: flex-start;
}

.left{
    height:80vh;
    width : 40vw;
}

select {
    padding : 0rem;
    margin: 0rem;
}

button {
    color: white;
    background-color:rgb(45,114,241);
    margin-top:2rem;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    border:1px solid;
    border-radius: 0.2rem;
}

.detail {
    font-size: 1.1rem;
    margin-top : 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
    font-size: 1.4rem;
}

.slot{
    border: 1px solid rgb(210,210,232);
    margin-left: 20%;
    margin-right: 20%;
    padding-left:1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 0.2rem;
}

.right{
    margin-right:5%;
    width : 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    background-color: white;
    height:25vh;
    border-radius: 0.6rem;
    margin-bottom: 15%;
    display: flex;
    box-shadow: -1px 4px 10px lightgray;
}

.logobox{
    width:20%;
}

.majors{
    width:50%;
}

.addons{
    width:25%;
    display:flex;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    width: 90%;
    height: 90%;
}

.hide{
    display: flex;
    justify-content: center;
    box-shadow: -1px 4px 8px lightgrey;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}

.date{
    color : rgb(149,157,161);
    margin-top: 10%;
    margin-right: 10%;
    font-weight: 600;
    font-size: 1.4rem;
}

.comments{
    margin-bottom: 10%;
    margin-right: 10%;
    color:rgb(74,116,189);
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.priority{
    background-color: rgb(241,95,145);
    color:white;
    width: fit-content;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 5%;
    border-radius: 7px;
    font-size: 1.1rem;
}

.tags{
    display: flex;
    color:rgb(74,116,189);
    margin-bottom: 5%;
}

.tag1{
    background-color: rgb(220,220,220);
    background-color: rgb(220,220,220);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.4rem;
}

.tag2{
    background-color: rgb(220,220,220);
    background-color: rgb(220,220,220);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    margin-left : 5%;
    font-weight: 600;
    font-size: 1.4rem;
}

.name{
    font-size: 1.5rem;
    margin-top: 3%;
    margin-bottom : 3%;
    color: rgb(53,62,155);
    font-weight: 500;
    font-size: 2rem;
}

.people{
    color:rgb(74,116,189);
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.fa-message{
    color : rgb(122,132,137);
    position: relative;
    right : 5%;
}

.fa-user {
    color : rgb(122,132,137);
}

p{
    margin-left: 3%;
}
